{% extends "base.html" %} {% block title %}Add notas{% endblock %} {% block content
    %}
    <form method="POST">
      <h2 align="center">Adicionar Notas</h2>      
      <div class="form-group">
        <label for="trabalho">Nome do trabalho</label>
        <input
          type="button"
          class="form-control"
          id="trabalho"
          name="Trabalho 1"
        />
        <input
          type="button"
          class="form-control"
          id="trabalho"
          name="Trabalho 2"
        />
      </div>
      <div class="form-group">
        <label for="tarefa">Nome do aluno</label>
        <input
          type="text"
          class="form-control"
          id="aluno"
          name="aluno"
          placeholder="Digite o nome do aluno"
        />
      </div>

      <div class="form-group">
        <label for="nota">Nota</label>
        <input
          type="text"
          class="form-control"
          id="nota"
          name="nota"
          placeholder="Digite a nota"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
    {% endblock %}