{% extends "base.html" %} {% block title %}Add notas{% endblock %} {% block content
    %}
    <form method="POST" id="adicionar-nota-trab">
      <h2 align="center">Adicionar Notas</h2>      
      <div class="form-group">
        <label for="tarefa">Selecione o trabalho</label>
        <select name="trabalho">
          <option value="Trabalho 1">Trabalho 1</option>
          <option value="Trabalho 2">Trabalho 2</option>
        </select>

      </div>
      <div class="form-group">
        <label for="tarefa">Selecione o aluno</label>
        <select name="aluno">
          {% for aluno in alunos %}
            <option value="{{ aluno }}">{{ aluno }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="nota">Nota</label>
        <input
          type="text"
          class="form-control"
          id="nota"
          name="nota"
          placeholder="Digite a nota"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
    {% endblock %}