{% extends "base.html" %} {% block title %}Área Logada{% endblock %} {% block content
%}
<h1 align="center">O que deseja fazer?</h1>
<p align="center">Escolha entre as opções abaixo</p>
<div class="btn-group">
  <form method = "POST">
    <input type="submit" value="Adicionar lista" name="botao" class="btn btn-primary">
    <input type="submit" value="Adicionar nota da lista" name="botao" class="btn btn-primary">
    <input type="submit" value="Adicionar nota do trabalho" name="botao" class="btn btn-primary">
    <input type="submit" value="Calcular situação" name="botao" class="btn btn-primary">
  </form>
</div>
{% endblock %}
