{% extends "base.html" %} {% block title %}Calc Situação{% endblock %} {% block content
    %}
    <form method="POST">
      <h2 align="center">Calcular Situação</h2>      
      <div class="form-group">
        <label for="tarefa">Nome do aluno</label>
        <input
          type="text"
          class="form-control"
          id="aluno"
          name="aluno"
          placeholder="Digite o nome do aluno"
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Calcular</button>
      <div id="situação">
        {% if exibir_situacao %}
          <h4>Situação do aluno</h4>
          <p>Nome: {{ aluno }}</p>
          <p>Média: {{ media }}</p>
          <p>Situação: {{ situacao }}</p>
        {% endif %}
      </div>
    </form>
    {% endblock %}