{% extends "base.html" %} {% block title %}Calc Situação{% endblock %} {% block content
    %}
    <form method="POST">
      <h2 align="center">Calcular Situação</h2>      
      <div class="form-group">
        <label for="tarefa">Nome do aluno</label>
        <select name="aluno">
          {% for aluno in alunos %}
            <option value="{{ aluno }}">{{ aluno }}</option>
          {% endfor %}
        </select>
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Calcular</button>
      <div id="situação">
        {% if exibir_situacao %}
          <h4>Situação do aluno</h4>
          <p>Nome: {{ nome_aluno }}</p>
          <p>Média: {{ media }}</p>
          <p>Situação: {{ situacao }}</p>
        {% endif %}
      </div>
    </form>
    {% endblock %}