{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Cadastro</h3>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      name="nome"
      placeholder="Digite seu nome"
    />
  </div>
  <div class="form-group">
    <label for="usuario">Usuário</label>
    <input
      type="text"
      class="form-control"
      id="usuario"
      name="usuario"
      placeholder="Digite seu usuário"
    />
  </div>
  <div class="form-group">
    <label for="senha1">Senha</label>
    <input
      type="password"
      class="form-control"
      id="senha1"
      name="senha1"
      placeholder="Digite sua senha"
    />
  </div>
  <div class="form-group">
    <label for="senha2">Senha (confirmação)</label>
    <input
      type="password"
      class="form-control"
      id="senha2"
      name="senha2"
      placeholder="Confirme sua senha"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
